#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

// OS設定を日本語キーボードのまま使用するための変換定義

#define JP_DQT          AT                // "
#define JP_AMPS         CARET             // &
#define JP_SQT          AMPS              // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_BSLH         0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LBKT              // @
#define JP_COLON        SQT               // :
#define JP_STAR         DQT               // *
#define JP_GRAVE        LBRC              // `
#define JP_UNDER        LS(0x87)          // _
#define JP_LBKT         RBKT              // [
#define JP_RBKT         BSLH              // ]
#define JP_LPAR         STAR              // (
#define JP_RPAR         LPAR              // )
#define JP_LBRC         RBRC              // {
#define JP_RBRC         PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

#define COM_PLUS        0x57              // +
#define COM_MINUS       0x56              // -
#define COM_MULTIPLY    0x55              // *
#define COM_DIVIDE      0x54              // /

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    quick-tap-ms = <300>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        layer6_ESC {
            bindings = <&lt 6 ESC>;
            key-positions = <39 38>;
        };

        user_ESC {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        user_TAB {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        to_layer_2: to_layer_2 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 2 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_2";
        };
        // 한국어 모드로 전환 (US 레이어로 복귀 + 한/영 키 전송)
        to_kr: to_kr_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to 2>             // 0번 레이어(기본)로 이동
                , <&kp LG(SPACE)>;    // Windows 언어 전환 단축키 (Alt + `)
        };

        // 일본어 모드로 전환 (JP 레이어로 이동 + 한/영 키 전송)
        to_jp: to_jp_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to 0>             // 1번 레이어(JP 보정)로 이동
                , <&kp LG(SPACE)>;    // Windows 언어 전환 단축키
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        lt_to_layer_2: lt_to_layer_2 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_2";
            bindings = <&mo>, <&to_layer_2>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
        
        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0_jp_def {
            bindings = <
&kp Q             &kp W         &kp E         &kp R            &kp T                                                          &kp Y        &kp U  &kp I     &kp O     &kp P
&mt LEFT_ALT A    &kp S         &kp D         &kp F            &kp G                                  &kp F10                 &kp H        &kp J  &kp K     &kp L     &lt 5 ENTER
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V            &kp B        &kp EQUAL                 &kp B                   &kp N        &kp M  &mkp MB1  &mkp MB2  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &lt 5 BACKSPACE  &lt 4 SPACE  &lt_to_layer_0 1 LANG2    &lt_to_layer_0 1 LANG1  &lt 4 SPACE                             &to_kr
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_1_jp_sign {
            bindings = <
&kp JP_PIPE   &kp JP_AMPS  &kp JP_STAR  &kp JP_LPAR   &kp JP_RPAR                          &kp JP_LBRC  &kp JP_RBRC   &kp JP_SQT  &kp JP_DQT    &kp JP_TILDE
&kp LEFT_ALT  &kp DLLR     &kp PRCNT    &kp JP_CARET  &kp MINUS                    &none   &kp JP_LBKT  &kp JP_RBKT   &kp SEMI    &kp JP_COLON  &kp JP_BSLH
&kp JP_GRAVE  &kp EXCL     &kp JP_AT    &kp HASH      &kp JP_PLUS  &kp JP_EQUAL    &none   &none        &kp JP_UNDER  &kp COMMA   &kp DOT       &kp SLASH
&trans        &trans       &trans       &trans        &trans       &trans          &trans  &trans                                               &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_2_kr_def {
            bindings = <
&kp Q             &kp W         &kp E         &kp R            &kp T                                                          &kp Y        &kp U  &kp I     &kp O     &kp P
&mt LEFT_ALT A    &kp S         &kp D         &kp F            &kp G                                  &kp F10                 &kp H        &kp J  &kp K     &kp L     &lt 5 ENTER
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V            &kp B        &kp EQUAL                 &kp B                   &kp N        &kp M  &mkp MB1  &mkp MB2  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &lt 5 BACKSPACE  &lt 4 SPACE  &lt_to_layer_2 3 LANG2    &lt_to_layer_2 3 LANG1  &lt 4 SPACE                             &to_jp
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_3_kr_sign {
            bindings = <
&kp PIPE      &kp AMPS  &kp STAR   &kp LPAR   &kp RPAR                        &kp LBRC  &kp RBRC   &kp SQT    &kp DQT    &kp TILDE
&kp LEFT_ALT  &kp DLLR  &kp PRCNT  &kp CARET  &kp MINUS               &none   &kp LBKT  &kp RBKT   &kp SEMI   &kp COLON  &kp BSLH
&kp GRAVE     &kp EXCL  &kp AT     &kp HASH   &kp PLUS   &kp EQUAL    &none   &none     &kp UNDER  &kp COMMA  &kp DOT    &kp SLASH
&trans        &trans    &trans     &trans     &trans     &trans       &trans  &trans                                     &trans
            >;
        };

        layer_4_num {
            bindings = <
&kp COM_MULTIPLY  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0                         &kp F11  &kp F12  &trans  &trans  &trans
&kp LEFT_ALT      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp COM_MINUS                &trans  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10
&kp COM_DIVIDE    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp COM_PLUS   &trans        &trans  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5
&trans            &trans        &kp KP_DOT    &trans        &trans         &kp RETURN    &trans  &trans                            &trans
            >;

            sensor-bindings = <&scroll_right_left>;
        };

        layer_5_nav {
            bindings = <
&trans  &kp HOME            &kp UP_ARROW    &kp END              &kp PG_UP                    &kp PG_UP  &kp HOME            &kp UP_ARROW    &kp END              &trans
&trans  &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT_ARROW      &kp PG_DN            &trans  &kp PG_DN  &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT_ARROW      &trans
&trans  &kp LG(LEFT_ARROW)  &trans          &kp LG(RIGHT_ARROW)  &trans     &trans    &trans  &trans     &kp LG(LEFT_ARROW)  &trans          &kp LG(RIGHT_ARROW)  &trans
&trans  &trans              &trans          &trans               &trans     &trans    &trans  &trans                                                              &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        layer_6_bt {
            bindings = <
&trans  &trans  &trans  &trans  &trans                         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans            &trans       &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans  &trans  &trans  &trans  &trans    &trans       &trans                                                  &bt BT_CLR_ALL
            >;

            sensor-bindings = <&scroll_up_down>;
        };

    };
};
